{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Тест социального интеллекта (модификация методики Холла)</h1>
        <p class="lead">
            Проблемная ситуация в исследовании на тему влияние технологий искусственного интеллекта на социальные взаимодействия в обществе заключается в том, что современном обществе с каждым годом увеличивается взаимодействия человека и компьютера, и с каждым годом компьютер становиться всё сложнее и умнее уравниваясь в интеллектуальном плане с человеком. Это привело к появлению в нашей жизни систем искусственного интеллекта, с которыми люди взаимодействуют ежедневно, порой даже не задумываясь об этом.
        </p>
        <p class="lead">
            В обществе, где технологии искусственного интеллекта интегрируются во все сферы жизни, возникает важный вопрос: как эти технологии могут влиять на нашу жизнь?
        </p>
        <p class="lead">
            С одной стороны, ИИ может упрощать нашу жизнь, автоматизируя рутинные задачи и предоставляя доступ к информации. С другой стороны, есть опасения, что его использование может привести к снижению социальных навыков, таких как эмпатия, распознавание невербальных сигналов и ведение беседы.
        </p>
        <p class="lead">
            Таким образом, проблема исследования заключается в необходимости понимания того, как быстро развивающиеся технологии искусственного интеллекта влияют на социальные аспекты жизни человека, и как может повлиять на его способность адаптироваться и взаимодействовать в социуме.
        </p>
        <p class="lead">
            В данном исследовании мы разберемся в проблеме влияния искусственного интеллекта на социальный интеллект человека, что предоставит возможность детально рассмотреть современные тенденции в развитии ИИ и самого человека.
        </p>

        <p class="lead">
            Проблемой исследования является оценка влияния технологий искусственного интеллекта на социальный интеллект человека. С увеличением интеграции искусственного интеллекта в различные сферы общества возникают вопросы о том, как эти технологии могут воздействовать на социальные навыки, взаимодействие и адаптацию индивидов в социальной среде.
        </p>

        <p class="lead">
            Цель –Изучение влияния технологий искусственного интеллекта на социальный интеллект в контексте современного общества.
        </p>

        <p class="lead">
            Задачи:
        </p>
        <p class="lead">
            1.	Оценить уровень социального интеллекта участников исследования.
        </p>
        <p class="lead">
            2.	Изучить опыт взаимодействия с технологиями искусственного интеллекта в повседневной жизни.
        </p>
        <p class="lead">
            3.	Оценить влияние использования искусственного интеллекта на социальные навыки и взаимодействие.
        </p><br>

        <div class="container">
            <h1>Результаты исследования</h1>
            <div class="chart">
                <img src="static/img/gender_age_distribution.png" alt="Распределение по полу и возрасту">
            </div>
            <div class="chart">
                <h2>Статистика ответов на вопросы</h2>
                <img src="static/img/question_pie_chart.png" alt="Статистика ответов на вопросы">
            </div>

            <h2 class="text-center">Результаты работы модели:</h2>

            <p class="lead">
            Для более детальной проработки исследования, было принято решение обучить модель
            "Случайного леса" чтобы выявить закономерности в результатах.
            Обучение строилось с использованием библиотеки sklearn на языке Python.
            </p><br>

            <table class="table table-striped table-sm">
                <tr>
                    <th>Способности (категории)</th>
                    <th>Результат модели</th>
                    <th>Результат тестирования социального интеллекта</th>
                </tr>
                <tr>
                    <td>self_motivation</td>
                    <td>{{ predict.get('self_motivation') }}</td>
                    <td>{{ tests.get('self_motivation') }}</td>
                </tr>
                <tr>
                    <td>empathy</td>
                    <td>{{ predict.get('empathy') }}</td>
                    <td>{{ tests.get('empathy') }}</td>
                </tr>
                <tr>
                    <td>interaction_skills</td>
                    <td>{{ predict.get('interaction_skills') }}</td>
                    <td>{{ tests.get('interaction_skills') }}</td>
                </tr>
                <tr>
                    <td>self_regulation</td>
                    <td>{{ predict.get('self_regulation') }}</td>
                    <td>{{ tests.get('self_regulation') }}</td>
                </tr>
                <tr>
                    <td>self_awareness</td>
                    <td>{{ predict.get('self_awareness') }}</td>
                    <td>{{ tests.get('self_awareness') }}</td>
                </tr>
                <tr>
                    <th>overall_result</th>
                    <th>{{ predict.get('overall_result') }}</th>
                    <th>{{ tests.get('overall_result') }}</th>
                </tr>
            </table>

            <div class="chart">
                <h2>Результаты исследования социального интеллекта по поколениям</h2>
                <img src="static/img/category_means.png" alt="% ответов по категориям">
            </div>
            <div class="chart">
                <img src="static/img/map_iq.png" alt="Результаты исследования социального интеллекта по поколениям">
            </div>
        </div>

    </div>
{% endblock %}